#root .vatany{
  width: 100%;
  background-color:#D2D0CF;
}
 .vatany .va{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 74px;

}
.left{
  width: 30%;
  background-color: #CECFC2;
}
